<!-- *************   Terms and conditions  *************** -->
<div class="home-background">
	<div class="learn-more-page">
		<div class="close-button">
			<a ng-click="hideTnC()" href="javascript: void(0)">
				<img ng-src="assets/images/closed-icon.png" alt="Close Icon">
			</a>
		</div>
	<div class="col-xs-12">
		<div class="col-xs-12">
			<div class="logo-wrapper">
				<img ng-src="assets/images/logo-more-info.png" alt="Logo" class="logo-more-info">
			</div>
		</div>
	<div class="learn-more-text">
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
	</div>				
</div>

<div class="buton-wrapper">
	<button class="button button-large button-reverse" ng-click="startSearch()"> Start Searching </button>		
</div>
</div>
</div>
