<!-- *************   Menu  *************** -->
<div class="home-background show-menu">
	<header-pane1></header-pane1>
	<div class="col-xs-12">
		<div class="logo-wrapper">
			<img src="assets/images/logo.png">
		</div>
	</div>
	
	<div class="search-container container-position">
		<h4> Search engine for used cars at your fingertips </h4>
		<div class="input-wrapper">
			<input type="text" name="search" placeholder='{{homePageData.placeHolder}}' class="search-input">
			<span class="search-icon micro-phone">
				<img src="assets/images/search-icon.png">
			</span>
		</div>
		<div class="buton-wrapper">
			<button ng-click="showRefinedSearch()" class="button button-large button-default" du-smooth-scroll="refinedSearchScroll" du-scrollspy> 
				Refined Search
			</button>				
		</div>
		<div class="more">
			<a ng-click="showLearnMore()" href="javascript: void(0)" id="learn-more"> Learn more. > </a>
		</div>	
	</div>
	<menu-list></menu-list>
</div>
