<footer>
	<div class="footer_div">
		<span class="about" ng-click="footerItemContentPage('about')">ABOUT</span>
		<span class="icon-circle" ng-click="footerItemContentPage('contact')">CONTACT</span>
		<span class="icon-circle" ng-click="footerItemContentPage('privacy')">PRIVACY</span>
		<span class="icon-circle" ng-click="footerItemContentPage('terms')">TERMS</span>
	</div>
	<div class="footer_copyright_div">
		<p>Copyright &copy; 2016 Oktpus international inc.All rights reserved.</p>
	</div>
</footer>
