/* Font color*/

$color-default: #fed669;
$color-darkgray: #fed669;
$color-lightgray: #FAFAFA;
$color-deeptgray: #CECECE;
$color-form-text: #777777;
$heading-default: #fff;
$heading-reverse: #5b5b5b;
$color-active: #CDCDCD;
$border-color: #d2d2d2;
$extra-light-gray: #f7f7f7;
$inside-menu-bg: #F0F0F0;

$black : #000;
$light-gray : #e6e6e6;

/* Font-family*/ 

$primary-font: Roboto-Light;
$font-bold: Roboto-Bold;
$secondery-font: Oswald-Bold;

/* Font size*/ 
$base-font-size: 16px;

/* Button color*/
$button-default: #fed669;
$button-reverse: #6B6A6A;

/* Padding and Margin */
$base-padding: 15px;
$base-margin: 15px;

/* Error and success msg color */
$error-color: #cb2026;
$success-color: #46b84f;
